{% load staticfiles %}
<!-- Clients starts -->
<div class="clients blocky">
   <div class="container">
            
      <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/clients/sumarq.png' %}" alt="" class="img-responsive client-logo" />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <img src="{% static 'img/clients/bruken.png' %}" alt="" class="img-responsive client-logo" 
              style="margin-top:2em;"/>
          </div>
      </div>
   </div>
</div>
<!-- Clients ends -->