{% load staticfiles %}
{% load url from future %}
<div class="col-md-3 col-md-pull-9">
  <div class="sidey">
     <ul class="nav">
        <li><a href="{% url 'productos' %}"><i class="fa fa-home"></i> &nbsp;Todos</a>
        {% for categoria in categorias %}
        <li>
          <a href="/productos/{{categoria|lower}}/"><i class="fa fa-briefcase"></i> &nbsp;{{categoria}}</a>
        </li>
        {% endfor %}
     </ul>
  </div>
  
  <!-- Sidebar items (featured items)-->

   <div>
      <img src="{% static 'img/paypal.png' %}" width="200">
     <!-- <h5>Ultimos productos</h5>
     <div class="sitem">
       <div class="onethree-left">
         <a href="single-item.html"><img src="{% static 'img/muestra4.jpg' %}" alt="" class="img-responsive"/></a>
       </div>
       <div class="onethree-right">
         <a href="single-item.html">HTC One V</a>
         <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
         <p class="bold">$199</p>
       </div>
       <div class="clearfix"></div>
     </div>

     <div class="sitem">
       <div class="onethree-left">
         <a href="single-item.html"><img src="{% static 'img/muestra4.jpg' %}" alt="" class="img-responsive"/></a>
       </div>
       <div class="onethree-right">
         <a href="single-item.html">Sony One V</a>
         <p>Aenean ullamcorper justo tincidunt justo aliquet.</p>
         <p class="bold">$399</p>
       </div>
       <div class="clearfix"></div>
     </div> -->
       </div>
   </div>
</div>