{% load staticfiles %}
{% load url from future %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<!-- Title here -->
		<title>Sumicon</title>
		<!-- Description, Keywords and Author -->
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- Styles -->
		<!-- Bootstrap CSS -->
		<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- Animate css -->
      <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
      <!-- Dropdown menu -->
      <link href="{% static 'css/ddlevelsmenu-base.css' %}" rel="stylesheet">
      <link href="{% static 'css/ddlevelsmenu-topbar.css' %}" rel="stylesheet">
      <!-- Countdown -->
      <link href="{% static 'css/jquery.countdown.css' %}" rel="stylesheet">     
		<!-- Font awesome CSS -->
		<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">		
		<!-- Custom CSS -->
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		
		<!-- Favicon -->
		<link rel="shortcut icon" href="#">

    <!-- Live chat -->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    var $_Tawk_API={},$_Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/54f91dc4bd5fa428704d33cc/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
    </script>
    <!--End of Tawk.to Script-->
	</head>
	
	<body>

      <!-- Shopping cart Modal -->
     <div class="modal fade" id="shoppingcart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
       <div class="modal-dialog">
         <div class="modal-content">
           <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
             <h4 class="modal-title">Carrito</h4>
           </div>
           <div class="modal-body">
           
            <!-- Items table -->
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="single-item.html">HTC One</a></td>
                  <td>2</td>
                  <td>$250</td>
                </tr>
                <tr>
                  <td><a href="single-item.html">Apple iPhone</a></td>
                  <td>1</td>
                  <td>$502</td>
                </tr>
                <tr>
                  <td><a href="single-item.html">Galaxy Note</a></td>
                  <td>4</td>
                  <td>$1303</td>
                </tr>
                <tr>
                  <th></th>
                  <th>Total</th>
                  <th>$2405</th>
                </tr>
              </tbody>
            </table>
            
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Continuar Comprando</button>
             <button type="button" class="btn btn-info">Pagar</button>
           </div>
         </div><!-- /.modal-content -->
       </div><!-- /.modal-dialog -->
     </div><!-- /.modal -->
           
      <!-- Logo & Navigation starts -->
      
      <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-2 col-sm-2">
                  <!-- Logo -->
                  <div class="logo">
                     <h1><a href="{% url 'home' %}">
                       <img src="{% static 'img/sumicon-logo.jpg' %}" style="border-radius:10px;" alt="">
                     </a></h1>
                  </div>
               </div>
				<div class="col-md-6 col-sm-5">
					<!-- Navigation menu -->
					<div class="navi">
						<div id="ddtopmenubar" class="mattblackmenu">
							<ul style="margin-top:16px;margin-left:140px;">
								<li><a style="font-size:18px;" href="{% url 'home' %}">Inicio</a>
								</li>
								<li><a style="font-size:18px;" href="{% url 'somos' %}">Quienes Somos</a>
								</li>
								<li><a style="font-size:18px;" href="{% url 'productos' %}">Productos</a>
								</li>
								<li><a style="font-size:18px;" href="{% url 'contacto' %}">Contacto</a>
								</li>                       
							</ul>
						</div>
					</div>
					<!-- Dropdown NavBar -->
					<div class="navis"></div>                   
  				</div>
                 <!-- <div class="col-md-4 col-sm-5">
                    <div class="kart-links">
                       <a href="login.html">Ingresar</a> 
                       <a href="register.html">Registrarte</a>
                       <a data-toggle="modal" href="#shoppingcart"><i class="fa fa-shopping-cart"></i> 3 Artículos </a>
                    </div>
                 </div> -->
              </div>
           </div>
      </div>
      
      <!-- Logo & Navigation ends -->
      {% block content %}
      {% endblock %}
       <!-- Footer starts -->
      <footer>
         <div class="container">
         
               <div class="row">

                        

         
         
            <hr />
            
            <div class="copy text-center">
               Copyright 2014 &copy; - <a href="#">Sumicon</a>
            </div>
         </div>
      </footer>
      <!-- Footer ends -->
      
      <!-- Scroll to top -->
      <span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 
      
    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Dropdown menu -->
    <script src="{% static 'js/ddlevelsmenu.js' %}"></script>  
      <!-- Countdown -->
    <script src="{% static 'js/jquery.plugin.min.js' %}"></script> 
      <script src="{% static 'js/jquery.countdown.min.js' %}"></script>    
      <!-- jQuery Navco -->
      <script src="{% static 'js/jquery.navgoco.min.js' %}"></script>
      <!-- Filter for support page -->
      <script src="{% static 'js/filter.js' %}"></script>         
    <!-- Respond JS for IE8 -->
    <script src="{% static 'js/respond.min.js' %}"></script>
    <!-- HTML5 Support for IE -->
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'js/custom.js' %}"></script>
  </body> 
</html>