{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% block content %}
      
<!-- Page content -->

<div class="contactus ">
      <!-- Google maps -->
      <div class="gmap">
         <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
         <iframe width="600" height="450" frameborder="0" style="border:0"
         src="https://www.google.com/maps/embed/v1/place?q=Perif%C3%A9rico%20Revoluci%C3%B3n%201387%2C%20Morelia%2C%20Mexico&key=AIzaSyDsGP9yGJn-oNFeTqqCwU3PQj53_cAPsPs"></iframe>
      </div>
      
      <div class="container">
                  <div class="row">
                     <div class="col-md-6 col-sm-7">
                        <div class="cwell" style="margin-bottom:2em;">
                           <!-- Contact form -->
                              <h5>Formulario de Contacto</h5>
                              
                              <form role="form">
                                <div class="form-group">
                                  <label for="name">Nombre</label>
                                  <input type="text" class="form-control" id="name" placeholder="Ingresar Nombre *">
                                </div>                                    
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email</label>
                                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingresar correo electrónico *">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Contenido</label>
                                  <textarea class="form-control" rows="3"></textarea>
                                </div>                                      
                                <button type="submit" class="btn btn-info">Enviar</button>
                                <button type="reset" class="btn btn-default">Limpiar</button>
                              </form>
                              
                           </div>
                     </div>
                     <div class="col-md-6 col-sm-5">
                           <div class="cwell">
                              <!-- Address section -->
                                 <h5>Dirección</h5>
                                 <div class="address">
                                     <address>
                                        <!-- Company name -->
                                        <h6>Sumicon</h6>
                                        <!-- Address -->
                                        Libramiento Oriente #1387<br>
                                        Colonia Buenavista <br>
                                        Morelia, Mich. C.P. 58228<br>
                                        <!-- Phone number -->
                                        <abbr title="Teléfono">Tel:</abbr> (443) 3142046
                                     </address>
                                      
                                     <address>
                                        <!-- Name -->
                                        <h6>Correo electrónico</h6>
                                        <!-- Email -->
                                        <!-- <a href="mailto:#">email@gmail.com</a> -->
                                     </address>
                                     
                                 </div>
                           </div>
                     </div>
                  </div>

   </div>
</div>

{% endblock %}