{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% block content %}
     
      <!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="fa fa-desktop color"></i> {{producto.categoria}} <small>{{producto.nombre}}</small></h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
                  <div class="single-item">
                      <h3>
                        <strong>
                        {{producto.clave}}
                        </strong>
                      </h3>
                      <div class="row" style="margin-top:2em;">
                        <div class="col-md-4 col-xs-4">
                          <img src="{{producto.imagen.url}}" style="max-width:250px;" alt="">
                        </div>
                        <div class="col-md-8 col-xs-8">
                          <img src="{{producto.ficha_tecnica.url}}" alt="" />
                        </div>
                      </div>
                    </div>
                    <!-- Description, specs and review -->
                    <ul id="myTab" class="nav nav-tabs" style="margin-top:5em;">
                      <!-- Use uniqe name for "href" in below anchor tags -->
                      <li class="active"><a href="#tab1" data-toggle="tab" style="font-size:150%;">Descripción</a></li>
                    </ul>

                    <!-- Tab Content -->
                    <div id="myTabContent" class="tab-content" style="font-size:140%;">
                      <!-- Description -->
                      <div class="tab-pane fade in active" id="tab1">
                        <br>
                        <h4 style="font-size:140%;"><strong>Producto: {{producto.nombre}}</strong></h4>
                        <h5 style="font-size:130%;"><strong>Precio : ${{producto.precio}}</strong></h5>
                        <p>{{producto.descripcion|safe}}</p>
                      </div>
                    </div>
               </div>
               {% include 'partials/sidebar.html' %}             
            <div class="sep-bor"></div>
         </div>
      </div>
      
{% endblock %}
