{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load humanize %}
{% block content %}
      
  <div class="clearfix"></div>
  
     <!-- Carousel starts -->
          
     <div id="carousel-example-generic" class="carousel slide">
       <!-- Indicators -->
       <ol class="carousel-indicators">
         <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
         <li data-target="#carousel-example-generic" data-slide-to="1"></li>
         <li data-target="#carousel-example-generic" data-slide-to="2"></li>
       </ol>

       <!-- Wrapper for slides -->
       <div class="carousel-inner">
         <!-- Item -->
         <div class="item active animated fadeInRight">
           <img src="{% static 'img/muestra.jpg' %}" alt="" class="img-responsive" />
           <div class="carousel-caption">
            <!--  <h2 class="animated fadeInLeftBig">Lorem ipsum dolor sit amet</h2>
             <p class="animated fadeInRightBig">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Donec tristique est sit amet diam interdum semper. </p> -->
           </div>
         </div>
         
         <div class="item animated fadeInRight">
           <img src="{% static 'img/muestra2.jpg' %}" alt="" class="img-responsive" />
           <div class="carousel-caption">
             <!-- <h2 class="animated fadeInLeftBig">Mauris semper tincidunt suscipit</h2>
             <p class="animated fadeInRightBig">Donec tristique est sit amet diam interdum semper. Vestibulum <strong>condimentum ante urna</strong>, vel interdum odio accumsan id.</p> -->
           </div>
         </div>

         <div class="item animated fadeInRight">
           <img src="{% static 'img/muestra3.jpg' %}" alt="" class="img-responsive" />
           <div class="carousel-caption">
             <!-- <h2 class="animated fadeInLeftBig">Phasellus et nisi tincidunt</h2>
             <p class="animated fadeInRightBig">Lorem <strong>ipsum dolor sit amet</strong>, consectetur adipiscing elit. Vestibulum condimentum ante urna, vel interdum odio accumsan id.</p> -->
           </div>
         </div>          
       </div>

       <!-- Controls -->
       <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
         <span class="icon-prev"></span>
       </a>
       <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
         <span class="icon-next"></span>
       </a>
     </div>
     
     <!-- carousel ends -->

  <!-- Hero starts -->
  
  <div class="hero">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <!-- Catchy title -->
              <h3>Especialistas en <span class="color">acero inoxidable</span></h3>
              <p>Contamos con todo tipo de herrajes para cristal y barandales de acero inoxidable. <br>
              Tenemos una gran variedad de diseños de barandal para instalar en tu hogar u oficina.</p>
           </div>
        </div>
      <div class="sep-bor"></div>
     </div>
  </div>
  
  <!-- Hero ends -->  
  
  <!-- Items List starts -->

  <div class="shop-items blocky">
    <div class="container">
      
     <div class="row">
        <!-- Item #1 -->
        {% for producto in productos %}
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="item" style="min-height:410px;">
            <!-- Use the below link to put HOT icon -->
            <!-- Item image -->
            <div class="item-image">
              <a href="/producto/{{producto.id}}/"><img src="{{producto.imagen.url}}" alt="" class="img-responsive"/></a>
            </div>
            <!-- Item details -->
            <div class="item-details">
              <!-- Name -->
              <h5><a href="/producto/{{producto.id}}/">{{producto.nombre}}</a></h5>
              <div class="clearfix"></div>
              <!-- Para. Note more than 2 lines. -->
              <p>{{producto.descripcion|safe}}</p>
                {% if producto.precio %}
                <div class="item-price pull-right" style="position:absolute;right:1px;top:1px;">$ {{producto.precio|floatformat:2}}</div>
                {% endif %}
                {% if producto.clave %}
                <div class="pull-left" style="position:absolute;left:1px;top:1px;font-weight:bold;">{{producto.clave}}</div>
                {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

  <!-- Items List ends -->
  
  <!-- Recent posts Starts -->
  
  <!--<div class="recent-posts blocky">
     <div class="container">
        <div class="row">
           <div class="col-md-12">
              <div class="section-title">
                 <h4><i class="fa fa-desktop color"></i> &nbsp;Whats New</h4>
              </div>    
              
		  <div id="item-carousel" class="carousel slide" data-ride="carousel">
					
			<div class="carousel-inner">
				<div class="item active">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/2.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/3.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/4.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/5.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/6.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/7.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/8.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="s-item">
								<a href="single-item.html">
									<img src="{% static 'img/items/9.png' %}" class="img-responsive" alt="" />
								</a>
								<div class="s-caption">
									<h4><a href="#">Finibus Bonorum</a></h4>
									<p>Clintock, a Lat Hampden-Sydney College in Virginia.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<a class="left c-control" href="#item-carousel" data-slide="prev">
				<i class="fa fa-chevron-left"></i>
			</a>
			<a class="right c-control" href="#item-carousel" data-slide="next">
				<i class="fa fa-chevron-right"></i>
			</a>

		</div>
		  
           </div>
        </div>
     </div>
  </div> -->
	
  <!-- Recent posts Ends -->		
  
  {% include 'partials/providers.html' %}
{% endblock %}
      
     
