{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load humanize %}
{% block content %}
      
      <!-- Page content -->
      
      <div class="shop-items">
         <div class="container">
            
            <div class="row">
               
               <div class="col-md-9 col-md-push-3">
               
                   <!-- Breadcrumb -->
                 <ul class="breadcrumb">
                   <li><a href="{% url 'home' %}">Inicio</a> <span class="divider"></span></li>
                   <li><a href="#">Productos</a> <span class="divider"></span></li>
                 </ul>
               
                 <!-- Items List starts -->

                     <div class="row">
                      {% for producto in productos %}
                        <!-- Item #1 -->
                        <div class="col-md-4 col-sm-6 col-xs-12">
                          <div class="item" style="min-height:410px;">
                            <!-- Item image -->
                            <div class="item-image">
                              <a href="/producto/{{producto.id}}/"><img src="{{producto.imagen.url}}" alt="" class="img-responsive"/></a>
                            </div>
                            <!-- Item details -->
                            <div class="item-details">
                              <!-- Name -->
                              <h5><a href="/producto/{{producto.id}}/">{{producto.nombre}}</a></h5>
                              <div class="clearfix"></div>
                              <!-- Para. Note more than 2 lines. -->
                              <p>{{producto.descripcion|safe}}</p>
                              <!-- Price -->
                              {% if producto.precio %}
                              <div class="item-price pull-right" style="position:absolute;right:2px;top:1px;">$ {{producto.precio|floatformat:2}}</div>
                              {% endif %}
                              <!-- Product Key -->
                              {% if producto.clave %}
                              <div class="pull-left" style="position:absolute;left:2px;top:1px;font-weight:bold;">{{producto.clave}}</div>
                              {% endif %}
                              <!-- Agregar al Carrito -->
                             <!--  <div class="pull-right"><a href="#" class="btn btn-danger btn-sm">Agregar al Carrito</a></div>
                              <div class="clearfix"></div> -->
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                     </div>
                  
                     <div class="row">
                        <div class="col-md-12">
                                    <!-- Pagination -->
                      <!--               <ul class="pagination">
									  <li class="disabled"><a href="#">&laquo;</a></li>
									  <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                      <li><a href="#">2</a></li>
                                      <li><a href="#">3</a></li>
                                      <li><a href="#">4</a></li>
                                      <li><a href="#">5</a></li>
                                      <li><a href="#">&raquo;</a></li>
                                    </ul>  -->
                        </div>
                     </div>
               </div>
               {% include 'partials/sidebar.html' %}
            <div class="sep-bor"></div>
         </div>
      </div>
    
      {% include 'partials/providers.html' %}
  {% endblock %}
