{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% block content %}
     
<!-- Page title -->
      <div class="page-title">
         <div class="container">
            <h2><i class="fa fa-desktop color"></i> Quienes Somos</h2>
            <hr />
         </div>
      </div>
      <!-- Page title -->
      
      <!-- Page content -->
      
         <div class="container" style="margin-bottom:3em;">
            <p style="font-size:130%;">Sumicon es una empresa consolidada en la ciudad de Morelia, ofrecemos un amplio catalogo de herrajes  y somos especialistas en fabricación y colocación de barandales de acero inoxidable.</p> <br>

            <h3>Misión</h3>
            <p style="font-size:130%;">Ofrecer una gran variedad en herrajes y diseños de barandales,que ademas de brindar una vista elegante al espacio, cada pieza garantice un alto grado de seguridad.</p>
            <br>
            <h3>Visión</h3>
            <p style="font-size:130%;">Ser la empresa líder en el mercado local, ofreciendo todo lo necesario para la colocación y mantenimiento de barandales de acero inoxidable, al menor costo.</p>
         </div>
    
     {% endblock %}